* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    font-weight: bold;
    color: #FFFFFF;
    box-sizing: border-box;
}


body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(13,13,176,1) 48%, rgba(17,39,43,1) 96%);
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.float-container {
    height: 100%;
}

.float-left {
    width: 50%;
    height: 100%;
    margin-right:5%;
    float: left;
}

.float-right {
    margin-top: 10%;
    margin-left: 5%;
    width: 40%;
    height: 100%;
    float: right;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(top, #222, #333);
    position: absolute;
}

.content h1 {
    position: absolute;
    left: -25%;
    letter-spacing: 15px;
    font-size: 5em;
    text-transform: uppercase;
    color: #ffcc00;
    text-decoration: underline;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.ticTacToe {
    width: 400px;
    height: 400px;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.square {
    flex: 33%;
    display: block;
    width: 125px;
    height: 125px;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    background: #28288e;
    font-size: 5em;
    font-weight: 100;
    align-items: center;
}

.square:hover {
    background-color: #F4C655;
}

.title {
    height: 30vh;
    width: auto;
    padding-left: 25%;
}

.title img {
    width: 25vw;
    height: auto;
}

.hide {
    display: none;
}


/* PLAYERS */

.player1 {
    padding-left: 10%;
    height: 30vh;
}

.player1 img {
    height: auto;
    width: 20vw;
    position: absolute;
    z-index: 1;
}

.player2 {
    padding-left: 10%;
}

.player2 img {
    height: auto;
    width: 20vw;
    position: absolute;
    z-index: 1;
}

h2 {
    letter-spacing: 5px;
    font-size: 2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: underline;
    padding-left: 20%;
    padding-top: 20%;
    position: relative;
    z-index: 2;
}

.x-img {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.o-img {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: chocolate;
}

#restart {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(42, 30, 81, 1);;
    width: 60%;
    height: 70vh;
    margin: 10% 22%;
    position: absolute;
    z-index: 9999;
    border: 4px solid #F4C655;
    border-radius: 25%;
    box-shadow: 9px 15px 163px 173px rgba(42, 30, 81, 1);
   
}

#restart .award{
    display: flex;
    flex-basis: 100%;
    flex: 1;
    padding: 10% 2%;
}

#restart img {
    height: 50vh;

}

#restart .award .r-left{
    padding-top: 10%;
    padding-left: 15px;
}

#restart .award .r-left p {
    color: #F4C655;
    font-size: 3em;
}

#restart .award .r-left button {
    color: #000;
    background-color: #F4C655;
    font-size: 1em;
    padding: 30px 25px;
    margin-top:10%;
    border-radius: 50%;
}

#restart .award .r-left button:hover {
    color: #000;
    border-radius: 50%;
    background-color: white;
}